<!DOCTYPE html>
<html>
  <head>
    <title>Nomadinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="prefetch" href="<%= asset_pack_path 'application.css' %>" />
  </head>

  <body>
    <%= render "layouts/nav" %>

    <div class="container">
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
